.blockAbout {
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
}

.blockAboutMission {
    background: url('../../assets/1-164.jpg') 50% 0 no-repeat;
    padding: 15px 0;
    min-height: 470px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

.blockAboutInner {
    max-width: 300px;
    color: white;
    margin-top: 100px;
}

.ourPrinciples {
    text-align: center;
    color: #394b50;
    margin-bottom: 70px;
}

.ourPrinciples h3 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 32px;
    text-transform: uppercase;
    line-height: 0.7;
    margin-left: 102px
}

.ourPrinciples p {
    font-size: 16px;
}

.boxes {
    padding: 19px 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: row wrap;
}

.boxes a,
h5 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.boxes a {
    color: #394b50;
    font-weight: bold;
    margin-top: -7px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    Width: 45%;
}

.box h5 {
    line-height: 1.3;
    margin-bottom: 0;
}

.box p {
    color: #7b7b7b;
    font-size: 13px;
    line-height: 1.7;
    flex-grow: 1;
}

.OurTeam {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.team_grid {
    margin-top: 40px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team_item {
    position: relative;
    width: -webkit-calc(25% - 22.5px);
    width: calc(25% - 22.5px);
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 13px;
    display: inline-block;
    margin-right: 10px;
}

.team_item .image_1 {
    background-image: url("../../assets/1.jpg");
    padding-bottom: 110%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border: 6px solid grey;
    border-radius: 20px;
}

.team_item .image_2 {
    background-image: url("../../assets/3.png");
    padding-bottom: 110%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border: 6px solid grey;
    border-radius: 20px;
}


.team_item h3 {
    color: gray;
}

.team_item p {
    color: #7b7b7b;
}



