.article {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
}

.post {
    border: 1px solid cadetblue;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 15px;
    max-width: 5850px;
    background-color: whitesmoke;
}

.postDate {
    font-style: italic;
    margin-bottom: 15px;
}

.postMessage {
    font-weight: bold;
    margin-bottom: 15px;
}

.postButton {
    background: grey;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 5px;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.postButton:hover {
    background: lightskyblue;
    color: #ffe;
}

