.menu {
    display: block;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin-left: 40px;
}

.menu ul li a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2;
}
