.AddPost {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
    background-color: whitesmoke;
}

.AddPost h4 {
    color: gray;
    text-transform: uppercase;
}

.AddInputInner {
    display: block;
}

.AddLabel {
    color: gray;
}

.AddButton {
    background: grey;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 5px 15px;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.AddButton:hover {
    background: lightskyblue;
    color: #ffe;
}

.form:hover {
    border: 2px solid grey;
    border-radius: 5px;
}

.form:focus {
    outline: none;
    border: 2px solid lightblue;
    border-radius: 5px;
}