.post {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px
}

.postData {
    font-style: italic;
}

.EditButton {
    text-decoration: none;
}

.EditButton:hover {
    background: lightskyblue;
    color: #ffe;
}