.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: flex;
}

.myBlog {
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-right: 100px;
}