.blockContact {
    color: #394b50;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
    color: gray;
    text-transform: uppercase;
}

.bottom-block h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 0.7;
    text-transform: uppercase;
    margin-top: 100px;
}

.bottom-block p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 55px;
}

.boxesContact {
    display: flex;
    justify-content: space-between;
    border: 1px solid cadetblue;
    border-radius: 5px;
    padding: 20px;
}

.bbox h5 {
    text-transform: uppercase;
    font-size: 20px;
}

.bbox p {
    font-size: 13px;
    color: #7b7b7b;
}

.toContact {
    font-weight: 800;
    font-size: 22px;
    margin: 50px 0;
}